server:
  port: 8080

spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/discodeit?currentSchema=discodeit
    username: discodeit_user
    password: discodeit1234
    driver-class-name: org.postgresql.Driver
    hikari:
      connection-init-sql: SET SESSION hibernate.jdbc.lob.non_contextual_creation=true
  jpa:
    hibernate:
      ddl-auto: update
logging:
  level:
    # Spring Security 관련 디버그 로그 활성화
    org.springframework.security: trace
    # Spring Web 관련 디버그 로그 활성화
    org.springframework.web: trace
    # 애플리케이션 패키지 디버그 로그 활성화
    com.sprint.mission.discodeit: trace
# JWT 설정
jwt:
  access-token:
    secret: r-9o3FjVWdLUbsr4X2zmT35R4RIzw-Cct9oaaJSIQ0U
    exp: 900000        # 15분(ms)
  refresh-token:
    secret: inVTlzehODZspM28GsazDrQpe3auJnC5lfNoYcwotoE
    exp: 3600000       # 1시간(ms)